<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="StudentDiscount" type="Common.StudentDiscountConfig,Common" />
    <section name="ChildrenDiscount" type="Common.ChildrenDiscountConfig,Common" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--列出所有折扣內容 各折扣內容選擇後 在此區段找對應的反射來源-->
  <appSettings>
    <add key="八折" value="StrategyPatternHW_Discount.StudentDiscount" />
    <add key="三折" value="StrategyPatternHW_Discount.ElementaryDiscount" />
    <add key="七折" value="StrategyPatternHW_Discount.ChildrenDiscount" />
    <add key="五折" value="StrategyPatternHW_Discount.VIPDiscount" />
  </appSettings>

  <!--定義學生折扣可選擇的折扣內容 -->
  <StudentDiscount>
    <StudentDiscounts>
      <add Name="八折" Action="StrategyPatternHW_Discount.StudentDiscount" />
    </StudentDiscounts>
  </StudentDiscount>
  <!--定義屁孩折扣可選擇的折扣內容 -->
  <ChildrenDiscount>
    <ChildrenDiscounts>
      <add Name="三折" Action="StrategyPatternHW_Discount.ElementaryDiscount"></add>
      <add Name="七折" Action="StrategyPatternHW_Discount.ChildrenDiscount"></add>
    </ChildrenDiscounts>
  </ChildrenDiscount>
</configuration>